.ImageRenderer__imgContainer {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

.ImageRenderer__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}