.OverlayContainer {
    --duration: 250ms;
    --height-percent: 33%;
    --height-percent--neg: calc(var(--height-percent) * -1);
    width: 100%;
    height: 33%;
    position: absolute;
    pointer-events: auto;
    animation-duration: var(--duration);
}

.OverlayContainer--align-bottom {
    left: 0;
    bottom: var(--height-percent--neg);
}

.OverlayContainer--align-top {
    left: 0;
    top: var(--height-percent--neg);
}

.OverlayContainer--enter-bottom-center {
    animation-name: enter-bottom-center;
    animation-timing-function: ease-out;
    bottom:0;
}

.OverlayContainer--enter-bottom-left {
    animation-name: enter-bottom-left;
    animation-timing-function: ease-out;
    bottom:0;
}

.OverlayContainer--enter-bottom-right {
    animation-name: enter-bottom-right;
    animation-timing-function: ease-out;
    bottom:0;
}

.OverlayContainer--enter-top-center {
    animation-name: enter-top-center;
    animation-timing-function: ease-out;
    top:0;
}

.OverlayContainer--enter-top-left {
    animation-name: enter-top-left;
    animation-timing-function: ease-out;
    top:0;
}

.OverlayContainer--enter-top-right {
    animation-name: enter-top-right;
    animation-timing-function: ease-out;
    top:0;
}

.OverlayContainer--exit-bottom-center {
    animation-name: exit-bottom-center;
    animation-timing-function: ease-in;
}

.OverlayContainer--exit-bottom-left {
    animation-name: exit-bottom-left;
    animation-timing-function: ease-in;
}

.OverlayContainer--exit-bottom-right {
    animation-name: exit-bottom-right;
    animation-timing-function: ease-in;
}

.OverlayContainer--exit-top-center {
    animation-name: exit-top-center;
    animation-timing-function: ease-in;
}

.OverlayContainer--exit-top-left {
    animation-name: exit-top-left;
    animation-timing-function: ease-in;
}

.OverlayContainer--exit-top-right {
    animation-name: exit-top-right;
    animation-timing-function: ease-in;
}


@keyframes enter-bottom-center {
    from {
        bottom: var(--height-percent--neg);
        left: 0;
    }
    to {
        bottom: 0;
    }
}

@keyframes enter-bottom-left {
    from {
        bottom: 0;
        left: -100%
    }
    to {
        left: 0;
    }
}

@keyframes enter-bottom-right {
    from {
        bottom: 0;
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes enter-top-center {
    from {
        top: var(--height-percent--neg);
        left: 0;
    }
    to {
        top: 0;
    }
}

@keyframes enter-top-left {
    from {
        top: 0;
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes enter-top-right {
    from {
        top: 0;
        left: 100%
    }
    to {
        left: 0;
    }
}

@keyframes exit-bottom-center {
    from {
        bottom:0;
    }
    to {
        left: 0;
        bottom: var(--height-percent--neg);
    }
}

@keyframes exit-bottom-left {
    from {
        bottom:0;
    }
    to {
        left: -100%;
        bottom: 0;
    }
}

@keyframes exit-bottom-right {
    from {
        bottom:0;
    }
    to {
        left: 100%;
        bottom: 0;
    }
}

@keyframes exit-top-center {
    from {
        top:0;
    }
    to {
        left: 0;
        top: var(--height-percent--neg);
    }
}

@keyframes exit-top-left {
    from {
        top:0;
    }
    to {
        left: -100%;
        top: 0;
    }
}

@keyframes exit-top-right {
    from {
        top:0;
    }
    to {
        left: 100%;
        top: 0;
    }
}