.VideoErrorModal__content {
    background: #328a32ee;
    color: white;
    width: 40%;
    margin:1em auto;
    padding: 1em;
    transition-property: opacity;
    transition-duration: 250ms;
}

.VideoErrorModal__content--enter {
    opacity: 1;
}

.VideoErrorModal__content--exit {
    opacity: 0;
}