.AutoPlay {
    display: flex;
    height: 32px;
    align-items: center;
    border-bottom: 1px solid var(--secondary);
    background: #f3f3f3;
    padding-right: 3px;
}

.AutoPlay__label {
    flex:1;
    text-align: right;
    padding-right: 8px;
    font-size: 14px;
}