.BusyBlip {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blip {
    fill:#749a02;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.b1 {
    animation-delay: 0s;
}
.b2 {
    animation-delay: 0.3s;
}
.b3 {
    animation-delay: 0.6s;
}

@keyframes pulse {
    from { fill: var(--primary);  }
    50% { fill: rgba(76, 172, 80, 0.38); }
    to { fill: var(--primary); }
}