.Overlays {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.OverlayItem {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-bottom: 1px solid var(--component-backround-color-darker);
    background: white;
}

.OverlayItem__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 8px 7px 2px;
}

.OverlayItem__extra {
    box-sizing: border-box;
    flex-direction: column;
    margin: -2px 0 0;
    padding: 0;
    background: #F1F1EE;
    transform-origin: top;
    transition: max-height 0.26s ease;
    position: relative;
    overflow: hidden;
    max-height: 0;
}

.OverlayItem__extra--show {
    display: flex;
    max-height: 150px;
}

.Overlay__titleContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 2px 9px;
    flex: 1;
}

.OverlayItem__title {
    font-weight: bold;
    font-size: 14px;
    color: var(--secondary-text);
}

.OverlayItem__subTitle {
    font-size: 11px;
    font-weight: bold;
    color: #2dabe4;
    margin-top: 6px;
}

.OverlayItem__button {
    width: 60px;
}

.OverlayItem__button--active {
    background: var(--primary);
}