.OverlayOptions {
    padding: 10px;
    border-top: 1px solid  var(--component-backround-color-darker);
}

.OverlayOptions--show {
    padding: 10px;
}

/*.OverlayOptions__row {
    display: flex;
    flex-direction: column;
}*/

.OverlayOptions__heading {
    font-weight: bold;
    font-size: 14px;
    margin: 6px 0 4px;
}

.OverlayOptions__group {
    flex:1;
    display: flex;
    flex-direction: row;
    padding: 2px 0;
    align-items: center;
}

.OverlayOptions__label {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text);
    margin-right: .5em;
    width: 100px;
    text-align: right;
}