.Playlist {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.Playlist__scrollContent {
    flex: 1;
    overflow: scroll;
    height: 100%;
}

.Playlist__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.PlaylistItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    border-bottom: 1px solid var(--secondary);
    background: white;
    color: var(--dark);
}

.PlaylistItem--inPlay {
    background: var(--primary);
}

.PlaylistItem__image {
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin: 8px;
}

.PlaylistItem__main {
    flex: 1;
    margin: 12px;
}

.Playlist__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.Playlist__subTitle {
    font-size: 12px;
}

.Playlist__subTitleType {
    font-size: 11px;
    font-weight: bold;
    color: #e39322;
    margin-left: 1em;
}

.PlaylistItem--inPlay .Pill {
    background: var(--dark);
}



