.ChevronButton {
    --chevron-padding: 3px 8px;
    --chevron-button-size: 24px;
    --chevron-color: #444440;
    width: var(--chevron-button-size);
    height: var(--chevron-button-size);
    line-height: var(--chevron-button-size);
    padding: 3px 8px;
    background: transparent;
    cursor: pointer;
}

.ChevronButton--sm {
    --chevron-padding: 3px 8px;
}
.ChevronButton--sm:hover {
    --chevron-color: #242421;
}