.Chevron {
    transform: rotate(180deg);
}

.Chevron--right {
    transform: rotate(180deg);
}

.Chevron--up {
    transform: rotate(90deg);
}

.Chevron--left{
    transform: rotate(0deg);
}

.Chevron--down {
    transform: rotate(270deg);
}

.Chevron--animate {
    transition: transform ease-out 250ms;
}
