.ContentToggle {
    display: flex;
    flex-direction: column;
}

.ContentToggle__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ContentToggle__title {
    font-size: 14px;
    font-weight: bold;
    margin-left: 2px;
}

.ContentToggle__content {
    display: none;

}

.ContentToggle__content--show {
    display: block;
}

.ContentToggle__content--indent {
    margin-left: 1em;
}