.DrawerButton {
    width: 24px;
    height: 24px;
    padding: 4px 8px;
    right: 3px;
    top: 3px;
    position: absolute;
    border-radius: 11px;
    box-shadow: 1px -1px 9px -1px rgba(0,0,0,0.75)
}