.OptionSelector {
    --option-selector-height: 28px;
    position: relative;
    display: inline-block;
    height: var(--option-selector-height);
}

.OptionSelector__content {
    position: absolute;
    max-width: 160px;
    max-height: 200px;
    display: none;
    z-index: 1000;
}

.OptionSelector__content--shadow {
    box-shadow: 0 2px 12px -1px rgba(0,0,0,0.75);
}
/*
.OptionSelector__content--bottom {
    top:100%;
}

.OptionSelector__content--top {
    bottom:100%;
}

.OptionSelector__content--left {
    left:0;
}

.OptionSelector__content--right {
    right:0;
}
*/

.OptionSelector__content--show {
    display: block;
}

.OptionSelector__list {
    list-style: none;
    padding: 0;
    font-size: 14px;
    background: white;
    border: 1px solid var(--secondary);
}

.OptionSelector__button {
    height: 100%;
    min-width: 80px;
    padding: 0 14px;
    cursor: pointer;
}


.OptionSelectorItem {
    line-height: var(--option-selector-height);
    white-space: nowrap;
    padding: 0 14px;
    text-align: center;
}

.OptionSelectorItem:hover {
    background: slategray;
    color:white;
    cursor: pointer;
}

.OptionSelectorItem--selected, .OptionSelectorItem--selected:hover {
    color: #282c34;
    background: #e0e0e0;
}

.OptionSelectorItem--hidden {
    display: none;
}

