.Pill {
    background: var(--primary);
    color: white;
    border-radius: 11px;
    padding: .1em .5em .3em;
    margin: 0 .4em;
    font-size: 14px;
    font-weight: bold;
}

.Pill--sm {
    font-size: 11px;
}

.Pill--lg {
    font-size: 16px;
}

.Pill--secondary {
    background: var(--secondary);
    color: var(--dark);
}

.Pill--tertiary {
    background: var(--tertiary);

}

.Pill--quaternary {
    background: var(--quaternary);
}

.Pill--quinary {
    background: var(--quinary);
}

.Pill--senary {
    background: var(--senary);
}

