.SidePanel {
    position: relative;
    background: var(--component-backround-color);
    width: 0;
}

.SidePanel--show {
    width: var(--side-panel-width);
    border-left: 1px solid #4c5463;
}

.SidePanel__content {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 300ms ease 150ms;
}

.SidePanel--show > .SidePanel__content {
    opacity: 1;
}
