.Stopwatch {
    color:white;
    stroke-width: 10px;
}

.Stopwatch__rim {
}

.Stopwatch__arm {
    animation-name: rotate-arm;
    animation-timing-function: linear;
}

.Stopwatch__arm--go {
    animation-name: rotate-arm;
}

@keyframes rotate-arm {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}