.TabNavigator {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.TabNavigator__navBar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 3px 2px 0;
    align-items: baseline;
    border-bottom: 1px solid var(--secondary);
}

.TabNavigator__contentContainer {
    flex:1;
    /*border: 1px solid var(--component-backround-color-darker);*/
    overflow: scroll;
    position: relative;
}



.Tab {
    margin: 0;
}

.Tab--selected {
    margin: 0 -1px;
    z-index: 1;
}

.Tab__button {
    border-radius: 5px 5px 0 0;
    padding: 4px 16px;
}

.Tab__button--selected {
    font-weight: bold;
    padding: 5px 17px 4px;
}