:root {
    --primary: #4caf50;
    --primary-dark: #328a32;
    --secondary: #d7d7dc;
    --secondary-dark: #c1c1c6;
    --secondary-text: #4e4e53;
    --dark: #1d1d1d;
    --tertiary: #e39322;
    --quaternary: #2dabe4;
    --quinary: #bc5ae4;
    --senary: #6b40e4;
    --background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    --component-backround-color: #f1f1ee;
    --component-backround-color-darker: #dcdcd9;
    --side-panel-width: 326px;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    background-color: var(--component-backround-color-darker);
    color: #1d1d1d;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    outline: none;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-primary.btn-border {
    border: thin solid var(--primary-dark);
}

.btn-secondary {
    background-color: var(--component-backround-color-darker);
    color: var(--secondary-text);
}
